<!DOCTYPE html>
<html>
<head>
    <title>File Compression</title>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <style>
        #form_h2 {
            font-size: 22px;
            color: tomato;
        }

    </style>
</head>
<body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <div class="container">
        <div class="left-section">
            <h1>Compress your File here</h1>
            <form action="/compress" method="POST" enctype="multipart/form-data">
                <label id="form_h2" for="file">Select File to Compress:</label>
                <input type="file" id="file" name="file" required>
                <br>
                <br>        
                <label for="compression_level">Select Compression Level:</label>
                <select id="compression_level" name="compression_level" required>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
                <br>
                <br>
                <input type="submit" value="Compress File">
            </form>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='function.jpg') }}" alt="compress">
        </div>
    </div>
</body>
</html>
