<!DOCTYPE html>
<html>
<head>
    <title>File Conversion</title>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <style>

        h1 {
            color: #800000; 
        }

        hr,h2 {
            border-color: #228B22;
        }

    </style>
</head>
<body>
    <!-- navbar -->
    {% include "navbar.html" %}
    <div class="container">
        <div class="left-section">
            <h1>File Conversion</h1>
            <form action="/convert_file" method="POST" enctype="multipart/form-data">
                <label for="input_file">Upload File:</label>
                <input type="file" id="input_file" name="input_file" required>
                <br>
                <label for="input_format">Input Format:</label>
                <select id="input_format" name="input_format">
                    <option value="png">PNG</option>
                    <option value="jpeg">JPEG</option>
                    <option value="gif">GIF</option>
                </select>
                <br>
                <label for="output_format">Output Format:</label>
                <select id="output_format" name="output_format">
                    <option value="png">PNG</option>
                    <option value="jpeg">JPEG</option>
                    <option value="gif">GIF</option>
                </select>
                <br>
                <input type="submit" value="Convert File">
            </form>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='function.jpg') }}" alt="Conversion">
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flash-messages">
        {% for category, message in messages %}
          <li class="flash-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}      
</body>
</html>
