<!DOCTYPE html>
<html>
<head>
    <title>Image Editor</title>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <style>

        h1 {
            color: #800000;
        }

        h2,hr {
            border-color: #800000;
        }

    </style>
</head>
<body>
    <!-- navbar -->
    {% include "navbar.html" %}

    <div class="container">
        <div class="left-section">
            <h1>Edit your Image</h1>
            <form action="/image_editor" method="POST" enctype="multipart/form-data">
                <label for="image_file">Upload Image:</label>
                <input type="file" id="image_file" name="image_file" required>
                
                    <div>
                        <label for="operation">Choose an Operation:</label>
                        <select id="operation" name="operation" required>
                            <option value="resize">Resize</option>
                            <option value="rotate">Rotate</option>
                            <option value="sharpen">Sharpen</option>
                            <option value="brightness">Enhance Brightness</option>
                        </select>
                    </div>
                <br>
                <input type="submit" value="Apply">
            </form>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='function.jpg') }}" alt="image_editor">
        </div>
    </div>

    {% if edited_image %}
    <hr>
    <h2>Edited Image:</h2>
    <p><a href="{{ edited_image }}" download="edited_image.png">Download Edited Image</a></p>
    {% endif %}
</body>
</html>
