<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Toolkit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/Favicon.ico">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='PyEliteToolkit.png') }}" alt="Logo">
            <span class="name">Python Elite Toolkit</span>
        </div>
        <div class="features">
            <a href="#functions">Functions</a>
            <a href="#pricing">Pricing</a>
            <a href="#business">Business</a>
            <a href="#support">Support</a>
            <a href="/store_feedback">Feedback</a>
        </div>
        <div class="nav_right">
            <div id="download">
                <a href="#download">Download App</a>
            </div>
            <div id="signin">
                <a href="#signin">Sign In</a>
            </div>
        </div>
    </nav>
    
    <div class="container_about">
        <div class="about-content">
            <h2>Powerful Tools Made <span id="simple_highlight">Simple.</span></h2>
            <p>
                Our Elite Toolkit has been meticulously crafted with your needs at the forefront. Bid farewell to convoluted software and extend a warm welcome to effortlessly accessible PDF utilities. Refine, unite, transmute, condense, endorse, and safeguard your documents with elegance, all with just a few graceful clicks. Elevate your work to a realm of beauty and simplicity.
            </p>
        </div>
        <div class="about-image">
            <img src="{{ url_for('static', filename='about_image.jpg') }}" alt="about_image">
        </div>
    </div>
    
    
    <div id="functions">
        <h2>Essential tools at your Fingertips</h2>
        <div class="container_function">
            <div class="section pdf-section">
                 <div class="row">
                    <a class="box" href="/merge">Merge PDF</a>
                    <a class="box" href="/watermark">Watermark PDF</a>
                    <a class="box" href="/pdf_split">Split PDF</a>
                    <a class="box" href="/compress">Compress File</a>
                </div>
            </div>
            
            <div class="section image-section">
                <div class="row">
                    <a class="box" href="/image_editor">Edit Image</a>
                    <a class="box" href="/perform_ocr">OCR</a>
                    <a class="box" href="/crop_image">Crop Image</a>
                    <a class="box" href="/convert_to_png">Convert to PNG</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
