<!DOCTYPE html>
<html>

<head>
    <title>OCR</title>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <style>

        h1 {
            color: #800000; /* Changed color to maroon */
        }

        hr,h2 {
            border-color: #228B22;
        }

        .ocr-results {
            padding: 20px;
            border: 2px solid #800000; /* Add a 2px maroon border */
            border-radius: 5px;
            text-align: left;
            background: #fff;
            font-size: 16px;
            margin: 20px auto;
            max-width: 80%;
        }

    </style>
</head>

<body>
    <!-- navbar -->
    {% include "navbar.html" %}
    <div class="container">
        <div class="left-section">
            <h1>Perform OCR on Image</h1>
            <form action="/perform_ocr" method="POST" enctype="multipart/form-data">
                <label for="image_file">Upload Image:</label>
                <input type="file" id="image_file" name="image_file" required>
                <br>
               <label for="ocr-results">With Default Value</label>
                <br>
                <input type="submit" value="Perform OCR">
            </form>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='function.jpg') }}" alt="OCR">
        </div>
    </div>
    <div class="ocr-results">
        <h2>OCR Result:</h2>
        {% if ocr_result %}
        <pre>{{ ocr_result }}</pre>
        {% else %}
        <p>No OCR result available yet.</p>
        {% endif %}
    </div>
</body>

</html>
