<!DOCTYPE html>
<html>
<head>
    <title>Split PDF</title>
    <link rel="icon" type="image/x-icon" href="/static/Favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <style>

        h1,h2 {
            color: #228B22;
        }

        hr {
            border-color: #228B22;
        }

    </style>
</head>
<body>
    <!-- navbar  -->
    {% include "navbar.html" %}

    <div class="container">
        <div class="left-section">
            <h1>Split your PDF <br> </h1>
            <form action="/split_pdf" method="POST" enctype="multipart/form-data">
                <label for="pdf_file">Upload PDF:</label>
                <input type="file" id="pdf_file" name="pdf_file" required>
                <br>
                <label for="page_range">Enter Page Range (e.g., 1-5):</label>
                <input type="text" id="page_range" name="page_range" required>
                <br>
                <br>
                <input type="submit" value="Split PDF">
            </form>
        </div>
        <div class="right-section">
            <img src="{{ url_for('static', filename='function.jpg') }}" alt="Split_pdf">
        </div>
    </div>

    {% if split_output %}
    <hr>
    <h2>Split PDF Pages:</h2>
    <!-- 'show download' section -->
    <p><a href="{{ split_output }}" download="split_pdf.pdf">Download Split PDF</a></p>
    <!-- End of 'show download' section -->
    {% endif %}
</body>
</html>
